#map {
    width: 100%;
    height: calc(100vh - 86px);
 }

:host{
    top: 60px;
    position: relative;
}
.filterArea {
    width: 90%;
    position: absolute;
    z-index: 1111;
    top: 25px;
    left: 5%;
    box-shadow: 10px 10px 10px #00000026;
}
/* buttons */

.btn-primary {
    color: #fff;
    background-color: #ec37fc;
    border-color: #ec37fc;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #e811fb;
    border-color: #e705fb;
  }
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #e811fb;
    border-color: #e705fb;
    box-shadow: 0 0 0 0.2rem rgba(239, 85, 252, 0.5);
  }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #ec37fc;
    border-color: #ec37fc;
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #e705fb;
    border-color: #dc04f0;
  }
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(239, 85, 252, 0.5);
  }
  .btn-primary, .btn-primary:hover {
    box-shadow: 0 2px 2px 0 rgba(236, 55, 252, 0.14), 0 3px 1px -2px rgba(236, 55, 252, 0.2), 0 1px 5px 0 rgba(236, 55, 252, 0.12)!important;
  }