<div class="row">
                         
    <div class="col-xl-12  grid-margin" id="listView">
  <div class="card  border-0">
    <div class="card-body p-2 bgTable" style="border-radius: 0 0;">
                       
    
      <div class="table-responsive">
          <table class="table table-striped text-center mb-0 table-light" id="vmsList"  datatable [dtOptions]="dtOptions">
            <thead>
              <tr>
                  <th width="50">Sr No </th>
                  <th width="100">VMS ID </th>
                  <th width="100">VMS Name </th>
                  <th width="100">Zone Name </th>
                  <th width="100">User Name </th>
                  <th width="150">Playlist Playing</th>
                  <th width="100">IP Address </th>
                  <th width="100">Status</th>
                  <th width="100">Display</th>
                 
              </tr>
          </thead>
            <tbody>
              <tr>
                  <td> 1 </td>
                  <td>Playing </td>
                  <td>Virandhavan </td>
                  <td>Vadodara </td>
                  <td>admin	 </td>
                  <td>	 </td>
                  <td>10.20.12.172	 </td>
                  <td><label class="badge bgActiveStatus active-badge"> <i class="fa fa-circle glowing" style="font-size: 8px;"></i> Active</label></td>
                  <td><label class="badge badge-danger">Off</label></td>
                 
              </tr>
              <tr>
                  <td> 1 </td>
                  <td>Playing </td>
                  <td>Virandhavan </td>
                  <td>Vadodara </td>
                  <td>admin	 </td>
                  <td>	 </td>
                  <td>10.20.12.172	 </td>
                  <td><label class="badge bg-secondary btn-outline-secondary border"><i class="fa fa-circle" style="font-size: 8px;"></i> InActive</label></td>
                  <td><label class="badge badge-danger">Off</label></td>
                 
              </tr>
              <tr>
                  <td> 1 </td>
                  <td>Playing </td>
                  <td>Virandhavan </td>
                  <td>Vadodara </td>
                  <td>admin	 </td>
                  <td>	 </td>
                  <td>10.20.12.172	 </td>
                  <td><label class="badge bgActiveStatus active-badge"><i class="fa fa-circle glowing" style="font-size: 8px;"></i> Active</label></td>
                  <td><label class="badge badge-danger">Off</label></td>
                 
              </tr>
              <tr>
                  <td> 1 </td>
                  <td>Playing </td>
                  <td>Virandhavan </td>
                  <td>Vadodara </td>
                  <td>admin	 </td>
                  <td>	 </td>
                  <td>10.20.12.172	 </td>
                  <td><label class="badge bgActiveStatus active-badge"><i class="fa fa-circle glowing" style="font-size: 8px;"></i> Active</label></td>
                  <td><label class="badge badge-danger">Off</label></td>
                 
              </tr>
              <tr>
                  <td> 1 </td>
                  <td>Playing </td>
                  <td>Virandhavan </td>
                  <td>Vadodara </td>
                  <td>admin	 </td>
                  <td>	 </td>
                  <td>10.20.12.172	 </td>
                  <td><label class="badge bgActiveStatus active-badge"><i class="fa fa-circle glowing" style="font-size: 8px;"></i> Active</label></td>
                  <td><label class="badge badge-danger">Off</label></td>
                 
              </tr>
              <tr>
                  <td> 1 </td>
                  <td>Playing </td>
                  <td>Virandhavan </td>
                  <td>Vadodara </td>
                  <td>admin	 </td>
                  <td>	 </td>
                  <td>10.20.12.172	 </td>
                  <td><label class="badge bgActiveStatus active-badge"><i class="fa fa-circle glowing" style="font-size: 8px;"></i> Active</label></td>
                  <td><label class="badge badge-danger">Off</label></td>
                 
              </tr>
              <tr>
                  <td> 1 </td>
                  <td>Playing </td>
                  <td>Virandhavan </td>
                  <td>Vadodara </td>
                  <td>admin	 </td>
                  <td>	 </td>
                  <td>10.20.12.172	 </td>
                  <td><label class="badge bgActiveStatus active-badge"><i class="fa fa-circle glowing" style="font-size: 8px;"></i> Active</label></td>
                  <td><label class="badge badge-danger">Off</label></td>
                 
              </tr>
              <tr>
                  <td> 1 </td>
                  <td>Playing </td>
                  <td>Virandhavan </td>
                  <td>Vadodara </td>
                  <td>admin	 </td>
                  <td>	 </td>
                  <td>10.20.12.172	 </td>
                  <td><label class="badge bgActiveStatus active-badge"><i class="fa fa-circle glowing" style="font-size: 8px;"></i> Active</label></td>
                  <td><label class="badge badge-danger">Off</label></td>
                 
              </tr>
              <tr>
                  <td> 1 </td>
                  <td>Playing </td>
                  <td>Virandhavan </td>
                  <td>Vadodara </td>
                  <td>admin	 </td>
                  <td>	 </td>
                  <td>10.20.12.172	 </td>
                  <td><label class="badge bgActiveStatus active-badge"><i class="fa fa-circle glowing" style="font-size: 8px;"></i> Active</label></td>
                  <td><label class="badge badge-danger">Off</label></td>
                 
              </tr>
              <tr>
                  <td> 1 </td>
                  <td>Playing </td>
                  <td>Virandhavan </td>
                  <td>Vadodara </td>
                  <td>admin	 </td>
                  <td>	 </td>
                  <td>10.20.12.172	 </td>
                  <td><label class="badge bgActiveStatus active-badge"><i class="fa fa-circle glowing" style="font-size: 8px;"></i> Active</label></td>
                  <td><label class="badge badge-danger">Off</label></td>
                 
              </tr>
             
            
              </tbody>
              </table>
              </div>
            
       
      </div>
  </div>
  </div>
            
          </div>