<div class="row">
                         
    <div class="col-xl-12  grid-margin stretch-card">
      
        <div class="card border-0 border-radius-10 pb-0">


            <div class="card-header bg-dark pb-1 pt-2 border-0">
              <form id="addZoneForm" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-3">
                
                
                      <input type="text" class="form-control form-control-sm"  placeholder="Enter Zone Name" id="zName" formControlName="zonename" [ngClass]="{ 'is-invalid': submitted && f['zonename'].errors }">
                      <div *ngIf="submitted && f['zonename'].errors" class="invalid-feedback">
                        <div *ngIf="f['zonename'].errors['required']">VMS Id is required</div>
                      </div>
                 
                </div>
                <div class="col-4">
                
                
                  <input type="text" formControlName="description"  class="form-control form-control-sm"  placeholder="Enter Description" id="zDec" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }">
                  <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                    <div *ngIf="f['description'].errors['required']">VMS Id is required</div>
                  </div>
             
               </div>
               
                    <div class="col-3"> <label class="switch active float-left" >
                      <input type="checkbox" name="status" id="zStatus" [(ngModel)]="active">
                      <div class="slider round"></div>
                      </label>
                      <button type="button" class="btn btn-info btn-rounded btn-icon-text btn-sm ml-1" id="draw_poly" (click)="addInteraction()">
                        <i class="mdi mdi-pencil-outline"></i> Draw Boundry
                      </button>
                    </div>
                    
                    <div class="col-2 text-right">
                      <button type="reset" class="btn btn-secondary btn-rounded btn-fw mr-1" (click)="resetMap()"> Reset </button>
                      <button class="btn btn-primary btn-rounded btn-fw" id="addZone" type="submit" > Submit </button>
                    </div>
            </div>
            </form>
            </div>
          <div class="card-body p-0">
             


                      <div id="map" class="map" style="border-radius: 15px 15px 0 0;"></div>
                  
             
            </div>
           
          </div>
        </div>

      
</div>


